body {
    background-color: crimson;

    p {
        background-color: azure;
        color: red;
    }


    img {
        width: 200xp;
        height: 200px;
    }

}

div {
    color: yellowgreen;
}